@charset "utf-8";
/* 重置&默认(reset&base)(tags) */
/*
.w-pagelayer *[hidefocus]{outline:none;}
.w-pagelayer,
.w-pagelayer div,
.w-pagelayer dl,
.w-pagelayer dt,
.w-pagelayer dd,
.w-pagelayer ul,
.w-pagelayer ol,
.w-pagelayer li,
.w-pagelayer h1,
.w-pagelayer h2,
.w-pagelayer h3,
.w-pagelayer h4,
.w-pagelayer h5,
.w-pagelayer h6,
.w-pagelayer pre,
.w-pagelayer form,
.w-pagelayer fieldset,
.w-pagelayer input,
.w-pagelayer button,
.w-pagelayer textarea,
.w-pagelayer p,
.w-pagelayer blockquote,
.w-pagelayer th,
.w-pagelayer td{padding:0;margin:0;}

.w-pagelayer fieldset,
.w-pagelayer img,
.w-pagelayer iframe{border:0;}
.w-pagelayer table{border-collapse:collapse;border-spacing:0;}
.w-pagelayer li{list-style:none;}
.w-pagelayer h1,
.w-pagelayer h2,
.w-pagelayer h3,
.w-pagelayer h4,
.w-pagelayer h5,
.w-pagelayer h6{font-weight:bold;font-size:100%;}
.w-pagelayer caption,
.w-pagelayer th{font-weight:normal;font-style:normal;text-align:left;}
.w-pagelayer em,
.w-pagelayer strong{font-weight:bold;font-style:normal;}
.w-pagelayer small{font-size:100%;}
.w-pagelayer ,
.w-pagelayer textarea,
.w-pagelayer select,
.w-pagelayer input,
.w-pagelayer button{font-size:12px;color:#444;}
.w-pagelayer textarea{overflow:auto;resize:none;}
.w-pagelayer a,
.w-pagelayer button{cursor:pointer;}
.w-pagelayer a{text-decoration:none;color:#444;outline:none;}


/* 控件样式 
.w-pagelayer{}
.w-pagelayer .pagelayer{position:fixed;_position:absolute;left:0;top:0;right:0;bottom:0;width:100%;height:100%;z-index:500;}
.w-pagelayer .pagelayer .lyloading{position:absolute;left:48%;top:50%;z-index:5;width:58px;height:10px;background:url("http://l.bst.126.net/rsc/img/load.gif") 0 0 no-repeat;}
.w-pagelayer .pagelayer .lycover{visibility:hidden;width:100%;height:100%;opacity:0.5;filter:alpha(opacity=50);background-color:#000;}
.w-pagelayer .pagelayer .lycover{*position:fixed;*left:0;*top:0;*right:0;*bottom:0;*z-index:3;}
.w-pagelayer .pagelayer .lyscroll{position:absolute;left:0;top:0;right:0;bottom:0;z-index:201;overflow-x:hidden;overflow-y:auto;}
.w-pagelayer .pagelayer .lybody{width:800px;padding:40px 0;margin:0 auto;}
.w-pagelayer .pagelayer .lybody .lycont{zoom:1;}
.w-pagelayer .pagelayer .lyclosed{display:none;position:fixed;_position:absolute;top:20px;right:35px;width:32px;height:30px;background:url(/rsc/img/loginopen/login-24.png) no-repeat 0 -1290px;_background:url(/rsc/img/loginopen/login.png) no-repeat 0 -1290px;}
.w-pagelayer .pagelayer .lyclosed:hover{background-position:-114px -1290px;}

/* 动画 
.w-pagelayer .pagelayer .a-scale{display:block;*visibility:hidden;opacity:0;transition:opacity 0.3s;-webkit-transition:opacity 0.3s;-moz-transition:opacity 0.3s;-o-transition:opacity 0.3s;}
.w-pagelayer .pagelayer .a-scale-do{display:block;*visibility:visible;opacity:1;}
*/