<!DOCTYPE html>
<html><head>
<link media="screen" type="text/css" rel="stylesheet" href="css/pagelayer.css">
<script src="js/ga.js" async="" type="text/javascript"></script>
<script type="text/javascript" src="js/pagelayer.js"></script>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>亲爱的 | Love-u.me</title>

<link href="css/c-1.css" rel="stylesheet" type="text/css">

<style>
a, a:hover, .day{color:#7dbfbd;}
.sidelist li a, .tag a, .active{background-color:#7dbfbd;}
.day{ border-color:#7dbfbd;}
.text blockquote{ border-left-color:#7dbfbd;}
body{background-color:#243020;}
body{background-image:url("img/bg.jpg");}
body{background-size: 100% auto;}
body{background-attachment:fixed;}
.notes .action{width:500px;}
#comment_frame{width:530px;}
.video object,.video embed{width:530px;height:441px;}
</style>
</head>
<body>
<div class="h95"></div>
<div class="box wid700"> 
    <div class="selfinfo">
        
        	<div class="logo">
                <a><img src="img/head.jpg"><i></i></a>
            </div>
        	<h1><a href="/">F & L</a></h1>
            <div class="text"><br />死生契阔，与子成说，执子之手，与子偕老。</div>
        
        
    </div>
    <div class="sch">
    </div>
    <ul class="sidelist">
        
		
		<li><a href="#" class="customlink" target="_blank">i love you</a></li>		
		<li><a href="#">L</a></li>
		<li><a href="#">O</a></li>
		<li><a href="#">V</a></li>
		<li><a href="#">E</a></li>
    </ul>
</div>
<div class="postwrapper box wid700  ">
    
        
            <div class="block article">
                
                    <div class="side">
                        <div class="day"><a href="#">我</a></div>
                        <div class="month"><a href="#">i</a></div>
                    </div>
                
                <div class="main">
                    <div class="content">
                        <div class="text">
<pre>
你可曾听见林中歌声响在夜阑，
一个歌者在诉说着爱情与伤感？
清晨的时光，天野静悄悄，
芦笛的声音纯朴而又幽怨，
你可曾听见？ 
</pre>
                        </div>
                    </div>
                        <div class="tag">
                            <a href="#">● L</a><a href="#">● O</a><a href="#">● V</a><a href="#">● E</a>
                        </div>
                </div>
            </div>
                   <div class="block photo">
                    
                        <div class="side">
                            <div class="day"><a href="#">520</a></div>
                            <div class="month"><a href="#">1314</a></div>
                        </div>
                    
                    <div class="main">
                        <div class="content">
                            
                                <div class="img">
                                    <a href="#"><img src="img/top.jpg"></a>
                                </div>
                            
                            
                            
                        </div>
                        <div class="tag">
                            <a href="#">● L</a><a href="#">● O</a><a href="#">● V</a><a href="#">● E</a>
                        </div>
                    
					
                </div>
            </div>
            <div class="block article">
                
                    <div class="side">
                        <div class="day"><a href="#">爱</a></div>
                        <div class="month"><a href="#">Love</a></div>
                    </div>
                
                <div class="main">
                    <div class="content">
                        <div class="text">                          
                            
<pre>
你可曾见过他，在那幽暗的林间，
一个歌者在诉说着爱情与伤感？
你可曾看到他的泪水、他的微笑，
他愁绪满怀，他目光暗淡，
你可曾发现？
</pre>
                            
                            
                        </div>
                    </div> 
                        <div class="tag">
                            <a href="#">● L</a><a href="#">● O</a><a href="#">● V</a><a href="#">● E</a>
                        </div>
                    
					
                </div>
            </div>
            
                           <div class="block photo">
                    
                        <div class="side">
                            <div class="day"><a href="#">520</a></div>
                            <div class="month"><a href="#">1314</a></div>
                        </div>
                    
                    <div class="main">
                        <div class="content">
                            
                                <div class="img">
                                    <a href="#"><img src="img/middle.jpg"></a>
                                </div>
                            
                            
                            
                        </div>                        
                        <div class="tag">
                            <a href="#">● L</a><a href="#">● O</a><a href="#">● V</a><a href="#">● E</a>
                        </div>
                    
					
                </div>
            </div>
        
            <div class="block article">
                
                    <div class="side">
                        <div class="day"><a href="/">你</a></div>
                        <div class="month"><a href="/">You</a></div>
                    </div>
                
                <div class="main">
                    <div class="content">
                        <div class="text">
                        	<pre>
你可曾感叹，当你听到歌声低缓，
一个歌者在诉说着爱情与伤感？
当你在那个林中遇到了那个青年，
他的眼中已熄灭了青春的火焰，
你可曾感叹？ 
                        	</pre>
                        </div>
                    </div>
                        <div class="tag">
                            <a href="#">● L</a><a href="#">● O</a><a href="#">● V</a><a href="#">● E</a>
                        </div>
                    
					
                </div>
            </div>
            
                <div class="block photo">
                    
                        <div class="side">
                            <div class="day"><a href="#">520</a></div>
                            <div class="month"><a href="#">1314</a></div>
                        </div>
                    
                    <div class="main">
                        <div class="content">
                            
                                <div class="img">
                                    <a href="#"><img src="img/bottom.jpg"></a>
                                </div>
                            
                            
                            
                        </div>
                        <div class="tag">
                            <a href="#">● L</a><a href="#">● O</a><a href="#">● V</a><a href="#">● E</a>
                        </div>
                    
					
                </div>
            </div>
            
                        <div class="block article">
                
                    <div class="side">
                        <div class="day"><a href="/">19</a></div>
                        <div class="month"><a href="/">6</a></div>
                    </div>
                
                <div class="main">
                    <div class="content">
                        <div class="text">
<pre>
我流泪；泪水使我得到安慰；
我沉默；我却不抱怨，
我的心中充满忧烦，
忧烦中却有痛苦的甜味。
生活之梦啊！飞逝吧，我不惋惜，
在黑暗中消失吧，空虚的幻影；
爱情对我的折磨我很珍重，
纵然死，也让我爱着死去！ 
</pre>
                            
                        </div>
                    </div>
                        <div class="tag">
                            <a href="#">● L</a><a href="#">● O</a><a href="#">● V</a><a href="#">● E</a>
                        </div>
                    
					
                </div>
            </div>
         
					
                </div>

</div>
<div class="footer"><span title="Copyright" style="cursor:pointer;">©</span>&nbsp;<a href="http://Love-u.me/templates/11-27/">F & L</a>&nbsp;|&nbsp;Powered by <a href="http://love-u.me/">Love-u.me</a></div>
<script type="text/javascript" src="js/jquery-1.js"></script>
<iframe src="music/music.html" height="0" width="0"></iframe>
</body></html>